<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href= "css/style.css">
</head>
<body>
	<header>
		<div class="topnav">
		  <a class="active" href="/">Home</a>
		  <a href="/news">News</a>
		  <a href="/contact">Contact</a>
		  <a href="/about">About</a>
		  <a href="/final_results">list of numbers</a>
		</div>
	</header>
	<%= yield %>


  <div class="footer">
<footer>
		<p>
			<a href = "http://www.minedminds.org" target = "_blank">Mined Minds</a><br>&copy; 2018
		</p>
	</footer></div>
</body>
</html>
